
<div class="list row" style="background-color: rgb(227, 222, 231)">
<div class="col-md-4">
  <!-- <p style="font-size:34px; text-align: center; margin-top: 30%;" 
  [ngClass]="{'myg-white': isBleu, 'myg-green':!isBleu}"><strong>Try me and I will not disappoint u !!!</strong></p>
   -->
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm" style="margin-top: 13%;">
            <highcharts-chart
              [Highcharts] = "highcharts" 
              [options] = "chartOptions" [(update)]="updatedChart"
              style = "width: 100%; height: 400px; display: block;">
            </highcharts-chart>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 row d-flex justify-content-center align-items-center h-100">
    <div class="container-fluid" >  
        <h1 style=" text-align: center; color: rgb(61, 57, 57);">Les service en ligne ....</h1>      
        <ngb-carousel >
          <ng-template ngbSlide *ngFor="let image of competences; let i = index " active="i == currentIndex" >
            <div class="wrapper">
              <img [src]="image.image | image"  height="400px" width="650px" (click)="setActiveCompetence(image, i)"
              (click)="triggerModal(modalData)"
              style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;">
            </div>
            <div class="carousel-caption">
              <h3> <strong>{{ image.competence }}</strong></h3>
              <div *ngIf="image.MemberCompetences">
                <p style="font-size: 25px;"> <strong> {{image.MemberCompetences.length}} Members</strong> </p>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>    
       <ng-template #modalData let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Les details d'un Service</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" style="background-color: #8fc4b7;">
            <div class="card-body">
              
               <div class="card-text" style=" text-align: center;"> <label><strong>Title:</strong></label>  {{ currentCompetence.competence }} </div>
              <div style=" text-align: center;"> <label><strong>Service Providers</strong></label> </div>
               <ngb-carousel >
                <ng-template ngbSlide *ngFor="let item of currentCompetence.MemberCompetences" >
                  <div *ngIf="item.Member">
                  <div class="wrapper">
                    <img [src]="item.Member.image | image"  height="400px" width="450px"
                    style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;">
                  </div>
                  <div class="carousel-caption">
                    <h3><strong>{{ item.Member.name }}</strong></h3>
                    <ul  [ngClass]="{'myg-white': isBleu, 'myg-black':!isBleu}">                             
                      <li> <strong> Disponible:  {{ item.jour }} </strong> </li> 
                      <li><strong>Heure Disponible:  {{ item.heureDebut }}h - {{ item.heureFin}}h</strong> </li>
                      <li><strong>Qualification:  {{ item.niveauCompetence }} </strong> </li>                                       
                   </ul>

                   <!-- button to show more infos of the person selected for services -->
                   <button style="margin-left: 95%;" class="btn btn-primary" (click)="triggerModal(modalDetails)">More...</button>
    <!-- ***************************************************************************************** -->
                        <div>
                          <ng-template ngbSlide #modalDetails let-modal>
                            <div class="modal-header">
                              <h4 class="modal-title" id="modal-basic-title">More details of Service Provide</h4>
                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">×</span>
                              </button>
                            </div>
                            <div class="modal-body" style="background-color: #8fc4b7;">
                              <div class="card-body">
                                  <div *ngIf="item.Member">
                                  <div [ngClass]="{'myg-blue': isBleu, 'myg-green':!isBleu}" class="card-text" style=" text-align: center;"> <label><strong>Name:</strong></label> 
                                    {{ item.Member.name }}  {{item.Member.surname}} </div>
                                  <div style=" text-align: center;"> <label><strong>Contact Infos</strong></label> </div>
                                  
                                    <ul>                             
                                      <li> <strong> Email:  {{ item.Member.email }} </strong> </li> 
                                      <li><strong>Phone:  {{ item.Member.phone }}</strong> </li>                           
                                  </ul>
                                  <div style=" text-align: center;"> <label><strong>Addresse</strong></label> </div>
                                  <div *ngIf="item.Member.Quartier">
                                    <ul style="list-style-type:none ;" >  
                                      <li><strong>{{ item.Member.rue }} {{item.Member.numero}} </strong> </li>                            
                                      <li> <strong>{{item.Member.Quartier.quartier}}  {{ item.Member.Quartier.codePostale }} </strong> </li> 
                                      <li><strong>{{ item.Member.Quartier.localite }}</strong> </li>                                     
                                  </ul>
                                  </div>
                                </div>
                              </div>
                              </div>
                          </ng-template>
                      </div>
    <!-- ****************************End of the infos***************************************************************** -->
                  </div>
                  </div>
                </ng-template>
              </ngb-carousel>  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
          </div>
        </ng-template> 
        <!-- <ng-template #modalDetailsMember let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Les details complementaire</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
                <ng-template ngbSlide *ngFor="let item of currentCompetence.MemberCompetences" >
                  <div *ngIf="item.Member">
                  <div class="card-text" style=" text-align: center;"> <label><strong>Name</strong></label> 
                     {{ item.Member.name }}  {{item.Member.surname}} </div>
                  <div style=" text-align: center;"> <label><strong>Contact Infos</strong></label> </div>
                  <div class="carousel-caption">
                    <ul>                             
                      <li> <strong> Email:  {{ item.Member.email }} </strong> </li> 
                      <li><strong>Phone:  {{ item.Member.phone }}h - {{ item.heureFin}}h</strong> </li>
                      <li><strong>Addresse:  {{ item.Member.rue }} {{item.Member.numero}} </strong> </li>                                       
                   </ul>
                   <div *ngIf="item.Member.Quartier">
                    <ul>                             
                      <li> <strong>Quartier:{{item.Member.Quartier.quartier}}  {{ item.Member.Quartier.codePostale }} </strong> </li> 
                      <li><strong>Localité:  {{ item.Member.Quartier.localite }}</strong> </li>
                                                           
                   </ul>
                   </div>
                  </div>
                  </div>
                </ng-template>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
          </div>
        </ng-template>  -->
    </div>
</div>
<div class="col-md-4" >
  <div *ngIf="username">
   
    <button   style="margin-left: 40%; margin-top: 10%;" class="btn btn-primary"
    (click)="triggerModal(modalServiceCreate)">Ask Service</button>
   
  </div>
  <div *ngIf="!username">
   
    <button   style="margin-left: 40%; margin-top: 10%;" class="btn btn-primary"
    (click)="myFunction()">Ask Service</button>
   
  </div>
  <p class="spinner-border" style="font-size:34px; text-align: center; margin-top: 38%; margin-left: 50%;"
   [ngClass]="{'myg-white': isBleu, 'myg-green':!isBleu}"><strong>Connect Me !!!</strong></p>
   
   <div *ngIf="username" >
    <button style="margin-left: 40%;" class="btn btn-primary"
    (click)="triggerModal(modalMemberCreate)">Be Member</button>
  </div>
  <div *ngIf="!username" >
    <button style="margin-left: 40%;" class="btn btn-primary"
    (click)="myFunction()">Became Member </button>
  </div>
        <div>
            <ng-template ngbSlide #modalMemberCreate let-modal>
              <div class="modal-header" style="width: 400px;">
                <h4 class="modal-title" id="modal-basic-title">Member Forms</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body" style="background-color: #8fc4b7;">
                <div class="card-body">
                    <app-member-create></app-member-create>
                </div>
              </div>
            </ng-template>
        </div>
        <div>
          <ng-template ngbSlide #modalServiceCreate let-modal>
            <div class="modal-header" style="width: 400px;">
              <h4 class="modal-title" id="modal-basic-title">Service Forms</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" style="background-color: #8fc4b7;">
              <div class="card-body">
                  <app-home-service-create></app-home-service-create>
              </div>
            </div>
          </ng-template>
      </div>
</div>
</div>
<!-- *********************** une autre partie pour *************************** -->
<div class="list row">
    <div class="col-md-4">
      <div class="input-group mb-3">
        <form>
          <div style="margin-top:2% ;" class="form-group form-inline">
            Search competence by name: 
              <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"
              (input)="search($any($event.target).value)" />
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-4">
      <h4 style="float:left ;">Competence List</h4>
      <button style="margin-left: 31%; margin-bottom: 1%;" class="btn btn-primary" (click)="triggerModal(modalData)">Views Providers</button>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let competence of competences | listFilterPipe : searchTerm | paginate: { itemsPerPage:10, currentPage: p, totalItems: total }; let i = index " [class.active]="i == currentIndex"
          (click)="setActiveCompetence(competence, i)" > 
          <strong>{{ competence.competence }} </strong> </li>
      </ul>
      <div>         
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls> 
      </div> 
      <!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeCompetence(currentIndex)"> Remove </button> -->
      <Button class="m-3 btn btn-primary"> <a style="color:azure" routerLink="/AddCompetence"> Propose competence </a> </Button>    
                                        
    </div>
    <!-- <div class="col-md-8">
      <section class="h-100 h-custom" style="background-color: #8fc4b7;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-8">
              <div class="card rounded-3">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                  class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                  alt="Sample photo">
                <div class="card-body p-4 p-md-5" style="background-color: #8fc4b7">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Competence Details</h3> 
                      <div *ngIf="currentCompetence.id">
                        <div class="card mb-3" style="max-width: 540px;">
                          <div class="row no-gutters">
                            <div class="col-md-4">
                            
                              <div class="card-img" >
                                <img [src]="currentCompetence.image | image" height="200px" width="150px"> </div>  
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <div class="card-text"> <label><strong>Title:</strong></label>  {{ currentCompetence.competence }} </div>
                                <label><strong>Service Providers:</strong></label>
                                  <div *ngFor="let item of currentCompetence.MemberCompetences">
                                    <div *ngIf="item.Member">
                                      <p> <label><strong>Name:</strong></label> {{item.Member.name}}</p>             
                                    <ul>                             
                                      <li>Jour Disponible:  {{ item.jour }}  </li> 
                                      <li>Heure Disponible:  {{ item.heureDebut }}h - {{ item.heureFin}}h </li>
                                      <li>Qualification:  {{ item.niveauCompetence }}  </li> 
                                      <li> <strong> Email:  {{ item.Member.email }} </strong> </li> 
                                      <li><strong>Phone:  {{ item.Member.phone }}</strong> </li>
                                      <li><strong>Addresse:  {{ item.Member.rue }} {{item.Member.numero}} </strong> </li>   
                                                                          
                                   </ul>
                                   <div *ngIf="item.Member.Quartier">
                                    <ul>                             
                                      <li> <strong>Quartier:{{item.Member.Quartier.quartier}}  {{ item.Member.Quartier.codePostale }} </strong> </li> 
                                      <li><strong>Localité:  {{ item.Member.Quartier.localite }}</strong> </li>
                                                                           
                                   </ul>
                                   </div>
                                  </div>
                                     </div>
                                   <div> <a class="badge badge-warning" routerLink="/competences/{{ currentCompetence.id }}"> Edit </a> </div>    
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      <div *ngIf="!currentCompetence"> <br /> <p>Please click on Competence...</p> </div>
    </div> -->
    <!-- ***************test si la partie members va etre integree *********************** -->
    <div class="col-md-8">
      <div *ngIf="useRole=='ROLE_USER'">
        <app-home-user-side></app-home-user-side>
      </div>
      <div *ngIf="useRole=='ROLE_MEMBER'">
        <app-home-member-side></app-home-member-side>
      </div>
      <div *ngIf="useRole=='ROLE_USER,ROLE_ADMIN,ROLE_MEMBER'">
        <app-home-member-side></app-home-member-side>
        <app-home-user-side></app-home-user-side>
      </div>
     
     
    </div>
    <!-- ***********************la fin de la partie integre****************************** -->
  </div>

