.myg-blue{
    color: blue !important;
    // background-color: blue;
}
.myg-black{
    color:black !important;
}
.myg-green{
    color:green !important;
}
.myg-white{
    color:rgba(246, 247, 239, 0.87) !important;
}