<div class="list row">
    <div class="col-md-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by competence" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="searchRole()" > Search </button>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-4">
      <h4>Role List</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let role of roles ; let i = index " [class.active]="i == currentIndex"
          (click)="setActiveRole(role, i)" > {{ role.role }} </li>
      </ul>
      <button class="m-3 btn btn-sm btn-danger" (click)="removeRole(currentIndex)"> Remove </button>
      <Button class="m-3 btn btn-sm btn-primary"> <a style="color:azure" routerLink="/AddRole"> Create </a> </Button>    
                                
    </div>
    <div class="col-md-8">
      <section class="h-100 h-custom" style="background-color: #8fc4b7;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-8">
              <div class="card rounded-3">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                  class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                  alt="Sample photo">
                <div class="card-body p-4 p-md-5" style="background-color: #8fc4b7">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Role Details</h3> 
                      <div *ngIf="currentRole.id">
                        <div class="card mb-3" style="max-width: 540px;">
                          <div class="row no-gutters">
                            <div class="col-md-4">
                            
                              <div class="card-img" >
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                                class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                                alt="Sample photo">
                            </div>  
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <div class="card-text"> <label><strong>Role:</strong></label>  {{ currentRole.role }} </div>
                                
                                   <div> <a class="badge badge-warning" routerLink="/roles/{{ currentRole.id }}"> Edit </a> </div>    
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      <div *ngIf="!currentRole"> <br /> <p>Please click on Role...</p> </div>
    </div>
    
  </div>


